<section data-ng-controller="HomeController" ng-style="myStyle" class="landing">
  <div id="banner" class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive" src="modules/core/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">

    </div>
  </div>
  <p class="lead">
    <h2>Your intuitive, easy to use, beverage management system!</h2> 
  </p>
  <br>
  <div class="bullets">
    <ul>
      <li>
        <h3>Built with MEAN.js stack for snappy response!</h3>
      </li>
      <br>
      <li>
        <h3>Encrypted user registration and authentication with Passport!</h3>
      </li>
      <br>
      <li>
        <h3>CRUD persistent storage powered by MongoDB!</h3>
      </li>
      <br>
      <li>
        <h3>AngulurJS Front-End Framework with templates!</h3>
      </li>
      <br>
      <li>
        <h3>Express and Node.js for server-side scripting!</h3>
      </li>
    </ul>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
<div class="footer">

&copy; Richard Woodward 2107
</div>
</footer>



</section>